<!DOCTYPE html>
<html>
<head>
    <title>채팅방</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>채팅 룸 입장하기</h2>
    <form id="enterChatRoomForm">
        <div>
            <label for="room_id">Room ID:</label>
            <input type="text" id="room_id" name="room_id" />
        </div>
        <div>
            <label for="createdName">이름:</label>
            <input type="text" id="createdName" name="createdName" />
        </div>
        <div>
            <button type="submit">입장하기</button>
        </div>
    </form>

    <div id="chat" style="display: none;">
        <div id="messages" style="height: 300px; overflow-y: scroll; border: 1px solid #ccc;"></div>
        <input type="text" id="messageInput" placeholder="메시지를 입력하세요">
        <button id="sendButton">보내기</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
	<script src="/js/chatRoom.js"></script>
</body>
</html>
