<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅 룸 입장하기</title>
</head>
<body>
    <h2>채팅 룸 입장하기</h2>
    <form id="enterChatRoomForm">
        <div>
            <label for="room_id">Room ID:</label>
            <input type="text" id="room_id" name="room_id" />
        </div>
        <div>
            <label for="createdName">이름:</label>
            <input type="text" id="createdName" name="createdName" />
        </div>
        <div>
            <button type="submit">입장하기</button>
        </div>
    </form>

    <script>
        document.getElementById('enterChatRoomForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const roomId = document.getElementById('room_id').value;
            const createdName = document.getElementById('createdName').value;
            window.location.href = `chatRoom/sockjs?roomId=${roomId}`;
        });
    </script>
</body>
</html>
