<!DOCTYPE html>
<html>
<head>
    <title>메세지 앱</title>
</head>
<body>
    <h2>메세지 보내기</h2>
    <form id="messageForm">
        chat_id: <input type="text" name="chat_id" /><br />
        room_id: <input type="text" name="room_id" /><br />
        content: <input type="text" name="content" /><br />
        createdName: <input type="text" name="createdName" /><br />

        <button type="button" onclick="sendMessage()">Send</button>
        <button type="button" onclick="deleteMessages()">Delete message</button>
    </form>
	<div id="chatHistory">
	    <h2>메세지 내역</h2>
	    <ul id="chatList"></ul>
	</div>


    <script>
        function sendMessage() {
            var formData = new FormData(document.getElementById('messageForm'));

            // 폼 데이터를 JSON으로 변환
            var object = {};
            formData.forEach(function(value, key){
                object[key] = value;
            });
            var json = JSON.stringify(object);

            // AJAX 요청으로 서버에 데이터 전송
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/createchat", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // 성공적으로 메시지를 전송한 후의 처리 (예: 폼 초기화)
                    console.log("Message sent successfully");
                    location.reload();
                }
            };
            xhr.send(json);
        }
            // 채팅 내역을 불러오는 함수
    function loadChatHistory() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/chatlist", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var chats = JSON.parse(xhr.responseText);
                var chatList = document.getElementById('chatList');
                chatList.innerHTML = ''; // 기존 목록을 비움
                chats.forEach(function(chat){
                    var li = document.createElement('li');
                    li.textContent = `Chat ID: ${chat.chat_id}, Room ID: ${chat.room_id}, Content: ${chat.content}, CreatedName: ${chat.createdName}`;
                    chatList.appendChild(li);
                });
            }
        };
        xhr.send();
    }



        // 모든 메시지를 삭제하는 함수
    function deleteMessages() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/delete", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log("All messages deleted successfully");
                location.reload(); // 페이지를 리로드하여 변경 사항 반영
            }
        };
        xhr.send();
    }
        
        
        // 페이지가 로드될 때 채팅 내역을 불러옵니다.
    window.onload = function() {
        loadChatHistory();
    };    
    </script>
</body>
</html>